//Colors
$primary-color: #161616;
$primary-color-medium: #353535;
$primary-color-light: #5a5a5a;
$secondary-color: #eee;
$theme-color: #6f2dbd;
$theme-color-light: #8032d8;

//Breakpoints
$medium: 600px;
$large: 1000px;
$extra-large: 1400px;