@use "../abstracts/variables" as *;

.list-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5em;
  border: 2px solid $theme-color;
  margin: 0.25em auto;
  font-size: 0.85em;
  background: $primary-color;
  color: $secondary-color;
  transition: 0.25s ease-in-out;
  .item-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    // max-width: 70%;
  }
  .item-foot {
    display: flex;
    align-items: center;
    margin: 0 0.75em;
    .normal-price {
      display: block;
      font-size: 0.65em;
      text-decoration: line-through;
    }
    .item-price {
      font-size: 1.15em;
      font-weight: 500;
    }
    .item-savings {
      // font-weight: 400;
      background: $theme-color;
      padding: 0.35em;
      margin-left: 0.5em;
    }
  }
  .item-title {
    font-size: 1em;
  }
  .item-img {
    height: 3.5em;
    margin-right: 0.45em;
  }
  .wishlist-add-btn {
    text-align: center;
    padding: .5em;
    background: $primary-color;
    border: 1px solid $theme-color;
    border-radius: .5em;
    color: $theme-color;
    margin-right: .5em;
    transition: .25s ease-in-out background, .25s ease-in-out color;
    &:hover {
      background: rgba($theme-color, .2);
      color: $secondary-color;
      cursor: pointer;
    }
  }
  &:hover {
    cursor: pointer;
    background: $primary-color-medium;
  }
  &.card {
    flex-direction: column;
    width: 19em;
    padding: 0;
    min-height: 20em;
    border: 3px solid $theme-color;
    border-radius: .5em;
    .item-head {
      flex-direction: column;
      justify-content: flex-start;
      text-align: center;
      border-bottom: 2px solid $theme-color;
      height: 60%;
      padding: 0.5em;
    }
    .item-foot {
      flex-direction: column;
      justify-content: center;
      margin: 0;
      padding-bottom: 1em;
    }
    .item-title {
      margin-top: 0.5em;
      font-size: 1.25em;
      width: 100%;
    }
    .item-img {
      width: 100%;
      margin: 0;
      height: auto;
      max-height: 112px;
    }
    .item-savings {
      padding: 0.15em;
      font-size: 1.15em;
      margin: 0;
    }
    .item-original {
      margin: 1em 0 0.25em 0;
    }
    .item-price {
      font-weight: 400;
      margin: 0;
      margin-bottom: 0.5em;
      display: flex;
      align-items: center;
    }
    &:hover {
      background: rgba($theme-color, 0.2);
    }
  }
}
