@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as m;

.games-list {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 95%;
    max-width: 1000px;
    // background: $secondary-color;
    .input-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .layout-btn-group {
        width: 100%;
        display: flex;
    }
    .btn {
        width: 1.5em;
        height: 1.5em;
        border-radius: .25em;
        border: none;
        padding: .15em;
        background: $primary-color-light;
        color: $secondary-color;
        margin-left: .25em;
        margin-top: auto;
        img {
            width: 100%;
            height: 100%;
        }
        &.isGrid {
            background-color: $theme-color-light;
        }
        &:hover {
            cursor: pointer;
        }
        @media(max-width: $medium) {
            font-size: 1.5em;
        }
    }
    .search-input {
        height: 100%;
        flex: 2;
        margin: .5em 0;
        border-radius: .35em;
        font-size: 1.25em;
        font-weight: 400;
        padding: .25em .45em;
        border: none;
        outline: none;
        background-color: $primary-color-medium;
        color: $secondary-color;
        transition: .2s ease-in-out background-color;
        &:focus, &:hover {
        background-color: $primary-color-light;
        }
    }
    .games {
        width: 100%;
        &.grid {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    .loading {
        text-align: center;
        font-size: 1.15em;
    }
    @include m.breakpoint($medium) {
        .search-input {
            flex: 3;
        }
    }
}