@use "../abstracts/variables" as *;

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  margin: 4em auto 3em auto;
  margin-top: 4em;
  width: 100%;
  max-width: 1300px;
  .title {
    font-size: 3em;
    font-weight: 500;
    border: 1px solid $theme-color;
    padding: 0.5em;
    width: max-content;
    max-width: 95%;
  }
  .login-btn-group {
    margin-right: auto;
    .user-email {
      margin: 0;
      margin-left: 0.5em;
      font-size: 0.9em;
    }
  }
  .form-btn {
    background: $theme-color-light;
    padding: 0.25em 0.5em;
    color: $secondary-color;
    border: none;
    border-radius: 0.25em;
    margin: 0.75em 0 0.75em 0.5em;
    transition: 0.2s ease-in-out background;
    &:hover {
      background: rgba($theme-color-light, 0.8);
      cursor: pointer;
    }
  }
}
