@use "../abstracts/variables" as *;


.options-menu {
    display: flex;
    justify-content: space-between;
    font-size: .75em;
    width: 60%;
    margin-right: auto;
    .options-item {
        text-align: center;
        label {
            font-size: 1.1em;
            margin-bottom: .5em;
            display: block;
        }
        select {
            background: $theme-color-light;
            color: $secondary-color;
            border: none;
            border-radius: 5px;
            padding: .15em .25em;
        }
        .range-values {
            display: flex;
            align-items: center;
        }
        .slider{
            -webkit-appearance: none;
            height: .2em;
            flex: 4;
            background: $theme-color;
            border-radius: 3px;
        }
        .slider::-webkit-slider-thumb{
            -webkit-appearance: none;
            width: .75em;
            height: .75em;
            border-radius: 50%;
            background: $theme-color;
            cursor: pointer;
        }
        .range-minmax {
            flex: 1;
            margin: 0 .25em;
        }
    }
}