@use "../abstracts/variables" as *;


.options-menu {
    display: flex;
    flex-direction: column;
    font-size: 1.25em;
    border: 1px solid $theme-color;
    width: 95%;
    margin-bottom: .25em;
    .options-item {
        margin: .5em 0;
        text-align: center;
        label {
            font-size: 1.25em;
            margin-bottom: .25em;
            display: block;
        }
        select {
            background: $theme-color-light;
            color: $secondary-color;
            outline: none;
            border: none;
            border-radius: 5px;
            padding: .15em .25em;
        }
        .range-values {
            display: flex;
            align-items: center;
        }
        .slider{
            -webkit-appearance: none;
            height: .2em;
            flex: 4;
            background: $theme-color;
            border-radius: 3px;
        }
        .slider::-webkit-slider-thumb{
            -webkit-appearance: none;
            width: .75em;
            height: .75em;
            border-radius: 50%;
            background: $theme-color;
            cursor: pointer;
        }
        .range-minmax {
            flex: 1;
        }
    }
}