@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as m;

.wishlist {
    display: flex;
    flex-direction: column;
    border: 1px solid $theme-color;
    padding: .5em;
    width: 95%;
}
.wishlist-button {
    font-size: 1.25em;
    flex: 1;
    margin: .5em 0;
    color: $secondary-color;
    background: $theme-color;
    padding: .25em 0;
    border-top-right-radius: .35em;
    border-bottom-right-radius: .35em;
    border: none;
    transition: .25s ease-in-out;
    &.hide-button {
        margin: .5em;
        font-size: 1em;
        border-radius: .35em;
    }
    &:hover {
        cursor: pointer;
        background: $theme-color-light;
    }
    @media(max-width: 350px) {
        border-radius: .35em;
    }
}