@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as m;

.wishlist__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($primary-color, .8);
  z-index: 3;
}
.wishlist {
  background: $primary-color;
  display: flex;
  flex-direction: column;
  border: 1px solid $theme-color;
  padding-top: 1em;
  padding-inline: .25em;
  padding-bottom: 2em;
  margin: .5em 0;
  max-height: 600px;
  overflow-y: scroll;
  width: 30em;
  max-width: 100%;
  .wishlist-title {
    color: $secondary-color;
    font-weight: 400;
    margin-bottom: 1em;
    text-align: center;
  }
  .alert-text {
      text-align: center;
  }
  .game.list-item {
    font-size: 0.75em;
  }
  &::-webkit-scrollbar {
    width: 6px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: $primary-color;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $primary-color-medium;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $primary-color-light;
  }
}
.wishlist-button {
  font-size: 1.25em;
  color: $secondary-color;
  width: 100%;
  background: transparent;
  padding: 0.25em 0;
  border: none;
  border: 1px solid $theme-color;
  transition: 0.25s ease-in-out;
  &.hide-button {
    margin-left: auto;
    width: fit-content;
    padding-inline: .5em;
    font-size: 1em;
    color: $secondary-color;
    &-bottom {
      margin-top: .5em;
      margin-inline: auto;
    }
  }
  &:hover {
    cursor: pointer;
    background: $primary-color-medium
  }
  @media (max-width: 350px) {
    border-radius: 0.35em;
  }
}
