@use "../abstracts/variables" as *;

.account-modal {
  font-size: 1.25em;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba($primary-color, 0.2);
  .modal-body {
    padding: 2em;
    padding-bottom: 3em;
    border: 2px solid $theme-color-light;
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $primary-color;
  }
  .form-btn {
    font-size: 0.65em;
    margin-right: auto;
    margin-left: 0;
    &.close-btn {
      font-size: .7em;
      margin-right: 0;
      margin-left: auto;
      background: $primary-color;
      border: 2px solid $theme-color-light;
      &:hover{
        background: rgba($theme-color-light, .2);
      }
    }
  }
  .form-redirect {
    font-weight: 300;
    font-size: .75em;
    color: $theme-color-light;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}
  .account-form {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    row-gap: 0.35em;
    .account-form-input {
        font-size: .8em; 
      border: none;
      border-radius: 0.25em;
      padding: 0.25em 0.5em;
      color: $secondary-color;
      background-color: $primary-color-light;
      &:focus {
          border: none;
          outline: none;
      }
    }
    .form-submit-btn {
      margin-top: 2em;
      border: none;
      border-radius: 1em;
      padding: 0.15em 0.35em;
      background: $theme-color-light;
      color: $secondary-color;
      transition: .2s ease-in-out background;
      &:hover {
          cursor: pointer;
          background: rgba($theme-color-light, .8);
      }
    }
    #email {
      margin-bottom: 1em;
    }
  }
}
