@use "../abstracts/variables" as *;

.list-item {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: .5em;
    border: 2px solid $theme-color;
    margin: .25em 0;
    font-size: .85em;
    background: $primary-color;
    color: $secondary-color;
    transition: .25s ease-in-out;
    .item-head {
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        // max-width: 70%;
    }
    .item-foot {
        display: flex;
        align-items: center;
        margin: 0 .75em;
        .normal-price {
            display: block;
            font-size: .65em;
            text-decoration: line-through;
        }
        .item-price {
            font-size: 1.15em;
            font-weight: 500;
        }
        .item-savings {
            // font-weight: 400;
            background: $theme-color;
            padding: .35em;
            margin-left: .5em;
        }
    }
    .item-img {
        height: 3.5em;
        margin-right: .45em;
    }
    &:hover {
        cursor: pointer;
        background: $primary-color-medium;
    }
    &.card {
        flex-direction: column;
        width: 300px;
        .item-head  {
            flex-direction: column;
            text-align: center;
        }
        .item-img {
            height: 10em;
            max-width: 90%;
        }
        .item-foot {
            flex-direction: column;
            justify-content: center;
            margin: 0;
        }
        .item-savings {
            margin: 0;
        }
        .item-price {
            font-size: 1.5em;
            font-weight: 500;
            display: flex;
        }
    }
}