@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400&display=swap");
@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.25;
  background: #161616;
  color: #eee;
}
@media (min-width: 600px) {
  body {
    font-size: 1.1rem;
  }
}
@media (min-width: 1000px) {
  body {
    font-size: 1.2rem;
  }
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 500;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  height: 4em;
  width: 100%;
  border-top: 2px solid #6f2dbd;
  margin-top: auto;
}

.hide {
  display: none;
}

.games-list {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 95%;
  max-width: 1000px;
}
.games-list .input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.games-list .layout-btn-group {
  width: 100%;
  display: flex;
}
.games-list .btn {
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.25em;
  border: none;
  padding: 0.15em;
  background: #5a5a5a;
  color: #eee;
  margin-left: 0.25em;
  margin-top: auto;
}
.games-list .btn img {
  width: 100%;
  height: 100%;
}
.games-list .btn.isGrid {
  background-color: #8032d8;
}
.games-list .btn:hover {
  cursor: pointer;
}
@media (max-width: 600px) {
  .games-list .btn {
    font-size: 1.5em;
  }
}
.games-list .search-input {
  height: 100%;
  flex: 2;
  margin: 0.5em 0;
  border-radius: 0.35em;
  font-size: 1.25em;
  font-weight: 400;
  padding: 0.25em 0.45em;
  border: none;
  outline: none;
  background-color: #353535;
  color: #eee;
  transition: 0.2s ease-in-out background-color;
}
.games-list .search-input:focus, .games-list .search-input:hover {
  background-color: #5a5a5a;
}
.games-list .games {
  width: 100%;
}
.games-list .games.grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.games-list .loading {
  text-align: center;
  font-size: 1.15em;
}
@media (min-width: 600px) {
  .games-list .search-input {
    flex: 3;
  }
}

.list-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5em;
  border: 2px solid #6f2dbd;
  margin: 0.25em auto;
  font-size: 0.85em;
  background: #161616;
  color: #eee;
  transition: 0.25s ease-in-out;
}
.list-item .item-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-item .item-foot {
  display: flex;
  align-items: center;
  margin: 0 0.75em;
}
.list-item .item-foot .normal-price {
  display: block;
  font-size: 0.65em;
  text-decoration: line-through;
}
.list-item .item-foot .item-price {
  font-size: 1.15em;
  font-weight: 500;
}
.list-item .item-foot .item-savings {
  background: #6f2dbd;
  padding: 0.35em;
  margin-left: 0.5em;
}
.list-item .item-title {
  font-size: 1em;
}
.list-item .item-img {
  height: 3.5em;
  margin-right: 0.45em;
}
.list-item .wishlist-add-btn {
  text-align: center;
  padding: 0.5em;
  background: #161616;
  border: 1px solid #6f2dbd;
  border-radius: 0.5em;
  color: #6f2dbd;
  margin-right: 0.5em;
  transition: 0.25s ease-in-out background, 0.25s ease-in-out color;
}
.list-item .wishlist-add-btn:hover {
  background: rgba(111, 45, 189, 0.2);
  color: #eee;
  cursor: pointer;
}
.list-item:hover {
  cursor: pointer;
  background: #353535;
}
.list-item.card {
  flex-direction: column;
  width: 19em;
  padding: 0;
  min-height: 20em;
  border: 3px solid #6f2dbd;
  border-radius: 0.5em;
}
.list-item.card .item-head {
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  border-bottom: 2px solid #6f2dbd;
  height: 15em;
  padding: 0.5em;
}
.list-item.card .item-foot {
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding-bottom: 1em;
}
.list-item.card .item-title {
  margin-top: 0.5em;
  font-size: 1.25em;
  width: 100%;
}
.list-item.card .wishlist-add-btn {
  margin-right: auto;
  margin-top: auto;
}
.list-item.card .item-img {
  width: 100%;
  margin: 0;
  height: auto;
  max-height: 112px;
}
.list-item.card .item-savings {
  padding: 0.15em;
  font-size: 1.15em;
  margin: 0;
}
.list-item.card .item-original {
  margin: 1em 0 0.25em 0;
}
.list-item.card .item-price {
  font-weight: 400;
  margin: 0;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
}
.list-item.card:hover {
  background: rgba(111, 45, 189, 0.2);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  margin: 4em auto 3em auto;
  margin-top: 4em;
  width: 100%;
  max-width: 1300px;
}
header .title {
  font-size: 3em;
  font-weight: 500;
  border: 1px solid #6f2dbd;
  padding: 0.5em;
  width: max-content;
  max-width: 95%;
}
header .login-btn-group {
  margin-right: auto;
}
header .login-btn-group .user-email {
  margin: 0;
  margin-left: 0.5em;
  font-size: 0.9em;
}
header .form-btn {
  background: #8032d8;
  padding: 0.25em 0.5em;
  color: #eee;
  border: none;
  border-radius: 0.25em;
  margin: 0.75em 0 0.75em 0.5em;
  transition: 0.2s ease-in-out background;
}
header .form-btn:hover {
  background: rgba(128, 50, 216, 0.8);
  cursor: pointer;
}

.options-menu {
  display: none;
  justify-content: space-between;
  font-size: 0.75em;
  width: 60%;
  margin: 0.5em 0;
  margin-right: auto;
}
.options-menu .options-item {
  text-align: center;
}
.options-menu .options-item label {
  font-size: 1.1em;
  margin-bottom: 0.5em;
  display: block;
}
.options-menu .options-item select {
  background: #8032d8;
  color: #eee;
  border: none;
  border-radius: 5px;
  padding: 0.15em 0.25em;
}
.options-menu .options-item .range-values {
  display: flex;
  align-items: center;
}
.options-menu .options-item .slider {
  -webkit-appearance: none;
  height: 0.2em;
  flex: 4;
  background: #6f2dbd;
  border-radius: 3px;
}
.options-menu .options-item .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  background: #6f2dbd;
  cursor: pointer;
}
.options-menu .options-item .range-minmax {
  flex: 1;
  margin: 0 0.25em;
}
@media (min-width: 600px) {
  .options-menu {
    display: flex;
  }
}

.wishlist {
  background: rgba(128, 50, 216, 0.5);
  display: flex;
  flex-direction: column;
  padding: 0.25em;
  margin: 0.5em 0;
  max-height: 600px;
  overflow-y: scroll;
  width: 95%;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.wishlist .wishlist-title {
  color: #eee;
  font-weight: 300;
  margin-bottom: 0.5em;
  text-align: center;
}
.wishlist .alert-text {
  text-align: center;
}
.wishlist .game.list-item {
  font-size: 0.75em;
}
.wishlist::-webkit-scrollbar {
  width: 6px;
}
.wishlist::-webkit-scrollbar-track {
  background: #161616;
}
.wishlist::-webkit-scrollbar-thumb {
  background: #353535;
}
.wishlist::-webkit-scrollbar-thumb:hover {
  background: #5a5a5a;
}

.wishlist-button {
  font-size: 1.25em;
  margin: 0.5em 0;
  color: #eee;
  width: 100%;
  background: rgba(128, 50, 216, 0.5);
  padding: 0.75em 0;
  border: none;
  border: 1px solid #6f2dbd;
  transition: 0.25s ease-in-out;
}
.wishlist-button.hide-button {
  margin: 0.5em auto;
  width: 5em;
  font-size: 1em;
  background: rgba(111, 45, 189, 0.5);
  color: #eee;
}
.wishlist-button:hover {
  cursor: pointer;
  background: rgba(111, 45, 189, 0.5);
  color: #eee;
}
@media (max-width: 350px) {
  .wishlist-button {
    border-radius: 0.35em;
  }
}

.modal-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  overflow: scroll;
  font-size: 1.15em;
  font-weight: 400;
  background-color: rgba(111, 45, 189, 0.95);
  display: flex;
  justify-content: center;
}
.modal-bg .modal-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5em;
  width: 90%;
  max-width: 1000px;
}
.modal-bg .modal-card p {
  margin: 0;
}
.modal-bg .modal-card strong {
  font-weight: 500;
}
.modal-bg .modal-card .close-btn {
  margin-left: auto;
  margin-top: 1em;
  background: transparent;
  color: #eee;
  font-size: 1.5em;
  background: rgba(22, 22, 22, 0.25);
  transition: 0.25s ease-in-out background;
  border: none;
  border-radius: 0.5em;
  padding: 0.15em 0.25em;
}
.modal-bg .modal-card .close-btn:hover {
  cursor: pointer;
  background: rgba(22, 22, 22, 0.8);
}
.modal-bg .modal-card .modal-head {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.modal-bg .modal-card .title {
  margin: 0.5em 0;
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}
.modal-bg .modal-card .video {
  align-self: center;
  width: 100%;
  max-width: 1000px;
}
.modal-bg .modal-card .image {
  align-self: center;
  min-width: 300px;
}
.modal-bg .modal-card .modal-main {
  padding: 0.75em 0;
}
.modal-bg .modal-card .modal-main .reviews {
  font-size: 0.75em;
  display: flex;
  justify-content: space-between;
}
.modal-bg .modal-card .modal-main .release-date {
  margin: 1em 0;
  font-size: 0.85em;
}
.modal-bg .modal-card .modal-main .desc {
  margin: 0.5em 0;
}
.modal-bg .modal-card .modal-main .desc-title {
  display: block;
  font-size: 1.25em;
  font-weight: 500;
  margin-bottom: 0.25em;
}
.modal-bg .modal-card .modal-foot {
  padding: 0.75em 0;
  width: 100%;
}
.modal-bg .modal-card .modal-foot h3 {
  font-size: 1.5em;
  margin: 0.5em 0;
}
.modal-bg .modal-card .modal-foot .deals-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 5em;
}
.modal-bg .modal-card .modal-foot .deals-list a {
  text-decoration: none;
  color: #eee;
}
.modal-bg .modal-card .modal-foot .deals-list img {
  margin-right: 0.25em;
}
.modal-bg .modal-card .modal-foot .deals-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  padding: 0.25em 0.5em;
  border: 2px solid #6f2dbd;
  background: #161616;
  transition: 0.25s ease-in-out;
}
.modal-bg .modal-card .modal-foot .deals-list li:hover {
  background: #353535;
}

.account-modal {
  font-size: 1.25em;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background: rgba(22, 22, 22, 0.2);
}
.account-modal .modal-body {
  min-height: 400px;
  max-width: 400px;
  padding: 2em;
  padding-bottom: 3em;
  border: 2px solid #8032d8;
  border-radius: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #161616;
}
.account-modal .account-alert {
  text-align: center;
}
.account-modal .form-btn {
  font-size: 0.65em;
  margin-right: auto;
  margin-left: 0;
}
.account-modal .form-btn.close-btn {
  font-size: 0.7em;
  margin-right: 0;
  margin-left: auto;
  background: #161616;
  border: 2px solid #8032d8;
}
.account-modal .form-btn.close-btn:hover {
  background: rgba(128, 50, 216, 0.2);
}
.account-modal .form-redirect {
  font-weight: 300;
  font-size: 0.75em;
  color: #8032d8;
}
.account-modal .form-redirect:hover {
  text-decoration: underline;
  cursor: pointer;
}
.account-modal .account-form {
  margin-top: 2em;
  min-width: 95%;
  display: flex;
  flex-direction: column;
  row-gap: 0.35em;
}
.account-modal .account-form .account-form-input {
  font-size: 0.7em;
  border: none;
  border-radius: 0.25em;
  padding: 0.35em 0.6em;
  color: #eee;
  background-color: #5a5a5a;
}
.account-modal .account-form .account-form-input:focus {
  border: none;
  outline: none;
}
.account-modal .account-form #email {
  margin-bottom: 1em;
}
.account-modal .form-submit-btn {
  margin-top: 2em;
  border: none;
  border-radius: 1em;
  padding: 0.15em 0.35em;
  background: #8032d8;
  color: #eee;
  transition: 0.2s ease-in-out background;
}
.account-modal .form-submit-btn:hover {
  cursor: pointer;
  background: rgba(128, 50, 216, 0.8);
}

.alert {
  position: fixed;
  margin: 50vh auto 0;
  transform: translateY(-50vh);
  color: #8032d8;
  background: rgba(238, 238, 238, 0.9);
  font-size: 1.15em;
  padding: 0.35em;
  border: 2px solid #161616;
  border-radius: 0.5em;
  opacity: 0;
}
.alert.fade-in-out {
  animation: fade-in-out 4s forwards;
}

/*# sourceMappingURL=main.css.map */
