@use "./abstracts/variables" as *;
@use "./abstracts/mixins" as m;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: $primary-color;
    color: $secondary-color;
    @include m.breakpoint($medium) {
        font-size: 1.1rem;
    }
    @include m.breakpoint($large) {
        font-size: 1.2rem;
    }
}

h1, h2, h3, h4, h5 {
    margin: 0;
    font-weight: 500;
}

.hide {
    display: none;
}