@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background: #161616;
  color: #eee;
}
@media (min-width: 600px) {
  body {
    font-size: 1.1rem;
  }
}
@media (min-width: 1000px) {
  body {
    font-size: 1.2rem;
  }
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 500;
}

.hide {
  display: none;
}

.games-list {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 1000px;
}
.games-list .input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.games-list .filter-button {
  font-size: 1.25em;
  flex: 1;
  margin: 0.5em 0;
  color: #eee;
  background: #6f2dbd;
  padding: 0.25em 0;
  border-top-right-radius: 0.35em;
  border-bottom-right-radius: 0.35em;
  border: none;
  transition: 0.25s ease-in-out;
}
.games-list .filter-button.hide-button {
  margin: 0.5em;
  font-size: 1em;
}
.games-list .filter-button:hover {
  cursor: pointer;
  background: #8032d8;
}
.games-list .search-input {
  height: 100%;
  flex: 2;
  margin: 0.5em 0;
  border-top-left-radius: 0.35em;
  border-bottom-left-radius: 0.35em;
  font-size: 1.25em;
  font-weight: 400;
  padding: 0.25em 0.45em;
  border: none;
  outline: none;
  background-color: #5a5a5a;
  color: #eee;
}
.games-list .search-input:focus {
  outline: 1px solid #6f2dbd;
}
@media (min-width: 600px) {
  .games-list .search-input {
    flex: 3;
  }
}

.list-item {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 0.5em;
  border: 2px solid #6f2dbd;
  margin: 0.25em 0;
  font-size: 0.85em;
  background: #161616;
  color: #eee;
  transition: 0.25s ease-in-out;
}
.list-item .item-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-item .item-foot {
  display: flex;
  align-items: center;
  margin: 0 0.75em;
}
.list-item .item-foot .normal-price {
  display: block;
  font-size: 0.65em;
  text-decoration: line-through;
}
.list-item .item-foot .item-price {
  font-size: 1.15em;
  font-weight: 500;
}
.list-item .item-foot .item-savings {
  background: #6f2dbd;
  padding: 0.35em;
  margin-left: 0.5em;
}
.list-item .item-img {
  height: 3.5em;
  margin-right: 0.45em;
}
.list-item:hover {
  cursor: pointer;
  background: #353535;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10em;
}
header .title {
  font-size: 3em;
  font-weight: 500;
  border: 1px solid #6f2dbd;
  padding: 0.5em;
}

.options-menu {
  display: flex;
  flex-direction: column;
  font-size: 1.25em;
  border: 1px solid #6f2dbd;
  width: 95%;
  margin-bottom: 0.25em;
}
.options-menu .options-item {
  margin: 0.5em 0;
  text-align: center;
}
.options-menu .options-item label {
  font-size: 1.25em;
  margin-bottom: 0.25em;
  display: block;
}
.options-menu .options-item select {
  background: #8032d8;
  color: #eee;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0.15em 0.25em;
}
.options-menu .options-item .range-values {
  display: flex;
  align-items: center;
}
.options-menu .options-item .slider {
  -webkit-appearance: none;
  height: 0.2em;
  flex: 4;
  background: #6f2dbd;
  border-radius: 3px;
}
.options-menu .options-item .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  background: #6f2dbd;
  cursor: pointer;
}
.options-menu .options-item .range-minmax {
  flex: 1;
}

.modal-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  overflow: scroll;
  font-size: 1.15em;
  font-weight: 400;
  line-height: 1.25;
  background-color: rgba(111, 45, 189, 0.95);
  display: flex;
  justify-content: center;
  z-index: 2;
}
.modal-bg .modal-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5em;
  width: 90%;
  max-width: 1000px;
}
.modal-bg .modal-card p {
  margin: 0;
}
.modal-bg .modal-card strong {
  font-weight: 500;
}
.modal-bg .modal-card .close-btn {
  align-self: end;
  background: transparent;
  color: #eee;
  font-size: 1.5em;
  border: none;
  margin: 0 0.5em;
}
.modal-bg .modal-card .close-btn:hover {
  cursor: pointer;
}
.modal-bg .modal-card .modal-head {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.modal-bg .modal-card .title {
  margin: 0.5em 0;
  font-size: 2em;
  font-weight: 600;
}
.modal-bg .modal-card .video {
  align-self: center;
  width: 100%;
  max-width: 1000px;
}
.modal-bg .modal-card .image {
  align-self: center;
  min-width: 300px;
}
.modal-bg .modal-card .modal-main {
  padding: 0.75em 0;
}
.modal-bg .modal-card .modal-main .reviews {
  font-size: 0.75em;
  display: flex;
  justify-content: space-between;
}
.modal-bg .modal-card .modal-main .release-date {
  margin-top: 0.5em;
  font-size: 0.85em;
}
.modal-bg .modal-card .modal-main .desc {
  margin: 0.5em 0;
}
.modal-bg .modal-card .modal-main .desc-title {
  display: block;
  font-size: 1.25;
  font-weight: 500;
  margin-bottom: 0.25em;
}
.modal-bg .modal-card .modal-foot {
  padding: 0.75em 0;
  width: 100%;
}
.modal-bg .modal-card .modal-foot h3 {
  font-size: 1.5em;
  margin: 0.5em 0;
}
.modal-bg .modal-card .modal-foot .deals-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 5em;
}
.modal-bg .modal-card .modal-foot .deals-list a {
  text-decoration: none;
  color: #eee;
}
.modal-bg .modal-card .modal-foot .deals-list img {
  margin-right: 0.25em;
}
.modal-bg .modal-card .modal-foot .deals-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  padding: 0.25em 0.5em;
  border: 2px solid #6f2dbd;
  background: #161616;
  transition: 0.25s ease-in-out;
}
.modal-bg .modal-card .modal-foot .deals-list li:hover {
  background: #353535;
}

/*# sourceMappingURL=main.css.map */
